<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/admin_page.css">
    <title>Document</title>
</head>
<body>
    <div class="applicant-info-header">
        <div class="app-text">
            <h1>Application Info</h1>
        </div>
        <div class="sort-btn">
            <input id="sortBtn" type="submit" value="Sort By Date">
        </div>
    </div>

    <div class="applicants">
        <table id="customers">
            <tr>
                <th>Full Name</th>
                <th>Birthdate</th>
                <th>Address</th>
                <th>Phone</th>
                <th>City</th>
                <th>Zip</th>
                <th>Date Submitted</th>
            </tr>

            <%app_info.each do |info|%>
            
            <tr>
                <td><%= info["fullname"]%></td>
                <td><%= info["birthdate"]%></td>
                <td><%= info["address"]%></td>
                <td><%= info["phone"]%></td>
                <td><%= info["city"]%></td>
                <td><%= info["zip"]%></td>
                <td><%= info["time_submitted"][0..9]%></td>
            </tr>
            <%end%>
        </table>
    </div>
</body>
</html>